@use "variables";
@use "reset";
@use "form";

#moco-bx-root {
  font-family: variables.$font-family;
  color: variables.$font-color;
  font-size: 14px;
  line-height: 1.5;

  .moco-bx-options {
    padding: 0rem 2rem 2rem;

    a {
      color: variables.$blue;
      text-decoration: none;
    }

    p {
      margin: 0.5rem 0;
    }

    h2 {
      font-size: 1.5rem;
      margin: 1rem 0 2rem;
    }

    h3 {
      font-size: 1.1rem;
      margin: 1rem 0 1rem;
    }

    label {
      font-weight: normal;
      margin-bottom: 5px;
    }

    input {
      box-sizing: border-box;
      padding: 6px 12px;
      height: 32px;
    }

    .text-success {
      color: variables.$green;
    }

    .text-danger {
      color: variables.$red;
    }

    &__host-overrides {
      margin-bottom: 1.5rem;
      text-align: center;
      font-weight: normal;
    }

    small {
      font-size: 0.8rem;
    }
  }
}
